# esbuild
.esbuild

# testing
coverage
*.lcov
.scannerwork/
test-report.xml
junit.xml

# dependencies
node_modules
dependencies_layer/node_modules

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# configurations
.npm
.eslintcache
.env
.vscode/settings.json

# extras
.cache/
.webpack/
.serverless/
